// color:
$color-white: #fff;
$color-red: #db2828;
$color-blue-01: rgb(33, 133, 208);
$color-pink-01: rgb(224, 180, 180);
$color-pink-02: #fff6f6;
$color-orange: #FF6347;
$color-gray-01:  rgba(34,36,38,.15);
$color-gray-02: #e0e1e2;
$color-black-01: rgb(0, 0, 0);
$color-black-02: rgba(0,0,0,.85)
